@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-200;
}

#nprogress .bar {
  @apply bg-violet-500 h-[3px];
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
